

<div class="modal-header">
    <h5 class="modal-title">
        Riesgos - Renovar riesgo
    </h5>
</div>

<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
                <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
                    <span ng-bind-html="alert.msg | unsafe"></span>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: left; ">
            <div class="col-sm-12 col-sm-offset-0">

                <form role="form" 
                    id="forms.agregarNuevoAsegurado_form"
                    name="forms.agregarNuevoAsegurado_form" 
                    ng-submit="agregarNuevoAsegurado_form_submit()" 
                    novalidate style="margin-top: 15px; " >

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p>
                                    Indique los datos necesarios para agregar el <b>nuevo</b> asegurado y haga un <em>click</em> en
                                    <em>Grabar</em>. <br /> O, haga un <em>click</em> en <em>Cancel</em> para cancelar y salir sin grabar.
                                </p>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px; ">
                            <div class="col-sm-7 col-sm-offset-1">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label">Nombre </label>
                                    <input type="text" 
                                           class="form-control input-sm myinput-sm" 
                                           ng-model="asegurado.nombre" 
                                           ng-model-options="{ updateOn: 'blur' }"
                                    />
                                </div>
                            </div>

                            <div class="col-sm-3 col-sm-offset-0">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label">Abreviatura </label>
                                    <input type="text" 
                                           class="form-control input-sm myinput-sm" 
                                           ng-model="asegurado.abreviatura" 
                                           ng-model-options="{ updateOn: 'blur' }"
                                    />
                                </div>
                            </div>

                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <button class="btn btn-sm btn-warning pull-right" ng-click="cancel()" style="margin-right: 15px; min-width: 100px; ">Cancel</button>
                <button type="submit" form="forms.agregarNuevoAsegurado_form" class="btn btn-sm pull-right btn-primary" style="margin-right: 15px; min-width: 100px; ">Grabar</button>
            </div>
        </div>
    </div>
</div>