
node_modules/

run*.bat
settings*.json

# ignorar archivos de configuración de visual studio code 
.vscode/

# a veces el programa registra aquí archivos que tienen un uso solo temporal, etc. 
.temp/
package-lock.json