

<div class="modal-header">
    <h5 class="modal-title">
        <span>Exportar a Excel</span>
    </h5>
</div>

<div class="modal-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="col-sm-6 col-sm-offset-6" style="text-align: right; font-style: italic; ">
                    <span style="color: dodgerblue">{{ companiaSeleccionada.nombre }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="col-sm-4 col-sm-offset-4" style="text-align: center; vertical-align: middle; ">
                    <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12" style="font-size: small; ">
                <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
                    <span ng-bind-html="alert.msg | unsafe"></span>
                </alert>
            </div>
        </div>

        <div class="row">
            <form class="form-horizontal"
                  name="parametrosConfiguracionForm"
                  id="parametrosConfiguracionForm"
                  ng-submit="parametrosConfiguracionForm_submit()"
                  role="form"
                  novalidate
                  style="margin-top: 15px; ">

                <div class="container-fluid">

                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <div class="form-group form-group-sm">
                                <label class="control-label input-label pull-left">Años: </label>
                                <select class=" form-control input-sm myinput-sm"
                                        ng-model="parametros.anos"
                                        ng-options="item.ano as item.ano for item in listaAnos"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="10"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <div class="form-group form-group-sm">
                                <label class="control-label input-label pull-left">Monedas: </label>
                                <select class=" form-control input-sm myinput-sm"
                                        name="moneda"
                                        ng-model="parametros.monedas"
                                        ng-options="item._id as item.descripcion for item in monedas | orderBy:'descripcion'"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="3"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <div class="form-group form-group-sm">
                                <label class="control-label input-label pull-left">Ramos: </label>
                                <select class=" form-control input-sm myinput-sm"
                                        name="ramo"
                                        ng-model="parametros.ramos"
                                        ng-options="item._id as item.descripcion for item in ramos | orderBy:'descripcion'"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="16"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <div class="form-group form-group-sm">
                                <label class="control-label input-label pull-left">Tipos: </label>
                                <select class=" form-control input-sm myinput-sm"
                                        ng-model="parametros.tipos"
                                        ng-options="item._id as item.descripcion for item in tiposContrato | orderBy:'descripcion'"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="6"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row row-centered">
                        <div class="col-sm-4 col-centered">
                            <div class="form-group form-group-sm">
                                <label class="control-label input-label pull-left">Compañías: </label>
                                <select class=" form-control input-sm myinput-sm"
                                        ng-model="parametros.companias"
                                        ng-options="item._id as item.nombre for item in companias | filter: soloSegYCorr_Filter | orderBy:'nombre'"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="16"
                                        multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-0">
                            <button type="submit"
                                    form="parametrosConfiguracionForm"
                                    class="btn btn-sm pull-right btn-primary pull-right "
                                    style="margin-right: 15px; ">
                                        Generar registros de configuración
                            </button>
                            <br />
                            <hr class="blueLine" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row row-centered">
            <div class="col-sm-12 col-centered">

                <nav class="navbar navbar-default navbar_custom_small_toolBar" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="PropagarCifras()">Propagar&nbsp;<span class="fa fa-gears"></span></a></li>
                                <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="AgregarRegistrosDeConfiguracion()">Agregar</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div ui-grid="registrosConfiguracion_ui_grid"
                     ui-grid-edit
                     ui-grid-cellnav
                     ui-grid-resize-columns
                     ui-grid-selection
                     ui-grid-pinning
                     class="angularGrid_Auto" style="height: 300px; ">
                </div> 
            </div>
        </div>

        <div class="row row-centered">
            <div class="col-sm-12 col-centered">
                <p style="font-size: small; color:blue; font-style: italic; ">{{ datosItemSeleccionado }}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <!-- <button ng-click="exportarAExcel()" class="btn btn-sm btn-primary" style="min-width: 80px; ">Construir documento</button> -->
    <button ng-click="cancel()" class="btn btn-sm pull-right btn-warning" style="margin-right: 15px; min-width: 80px; ">Cerrar</button>
</div>
