

<div class="modal-header">
    <h5 class="modal-title">
        <span>Construcción de cuotas</span>
    </h5>
</div>

<div class="modal-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12" style="font-size: small; ">
                <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
                    <span ng-bind-html="alert.msg | unsafe"></span>
                </alert>
            </div>
        </div>

        <div class="row" style="margin-bottom: 15px; ">

            <form name="construirCuotasForm"
                  id="construirCuotasForm"
                  ng-submit="submitConstruirCuotasForm()"
                  class="form-horizontal"
                  role="form"
                  novalidate>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-1 control-label myinput-xsm">Cantidad: </label>
                        <div class="col-sm-7">
                            <input type="number"
                                   name="cantidadCuotas"
                                   min="1" max="25"
                                   class="form-control input-sm myinput-xsm"
                                   ng-model="parametros.cantidadCuotas"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   required
                                   style="width: 100px; " />

                            <div class="validation-message myinput-xsm"
                                 ng-show="submitted && construirCuotasForm.cantidadCuotas.$error.required">
                                Indique un valor.
                            </div>
                            <div class="validation-message myinput-xsm"
                                 ng-show="submitted && construirCuotasForm.cantidadCuotas.$error.number">
                                Valor inválido.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-1 control-label myinput-xsm">Fecha de la 1ra cuota: </label>

                        <div class="col-sm-7">
                            <input type="date"
                                   name="fecha1raCuota"
                                   class="form-control input-sm myinput-xsm"
                                   ng-model="parametros.fecha1raCuota"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   required
                                   style="width: 135px; " />

                            <div class="validation-message myinput-xsm"
                                 ng-show="submitted && construirCuotasForm.fecha1raCuota.$error.required">
                                Indique un valor.
                            </div>

                            <div class="validation-message myinput-xsm"
                                 ng-show="submitted && construirCuotasForm.fecha1raCuota.$error.date">
                                Valor inválido.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 col-sm-offset-1 control-label myinput-xsm">Días de vencimiento: </label>
                        <div class="col-sm-7">
                            <input type="number"
                                   name="diasVencimiento"
                                   min="0" max="9999"
                                   class="form-control input-sm myinput-xsm"
                                   ng-model="parametros.diasVencimiento"
                                   ng-model-options="{ updateOn: 'blur' }"
                                   required
                                   style="width: 100px; " />

                            <div class="validation-message myinput-xsm"
                                 ng-show="submitted && construirCuotasForm.diasVencimiento.$error.required">
                                Indique un valor.
                            </div>

                            <div class="validation-message myinput-xsm"
                                 ng-show="submitted && construirCuotasForm.diasVencimiento.$error.number">
                                Valor inválido.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8 col-lg-offset-2">
                        <fieldset class="scheduler-border" style="font-size: x-small; ">
                            <legend class="scheduler-border-xsm">Cantidad de días (o meses) entre cuotas: </legend>
                            <div class="form-group col-sm-5 col-offset-1">
                                <label class="control-label myinput-xsm">Días: </label>
                                <div>
                                    <input type="number"
                                           name="cantidadDias"
                                           class="form-control input-sm myinput-xsm"
                                           ng-model="parametros.cantidadDias"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           style="width: 100px; " />

                                    <div class="validation-message myinput-xsm"
                                         ng-show="submitted && construirCuotasForm.cantidadDias.$error.number">
                                        Valor inválido.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-sm-5 col-offset-1">
                                <label class="control-label myinput-xsm">Meses: </label>
                                <div>
                                    <input type="number"
                                           name="cantidadMeses"
                                           class="form-control input-sm myinput-xsm"
                                           ng-model="parametros.cantidadMeses"
                                           ng-model-options="{ updateOn: 'blur' }"
                                           style="width: 100px; " />

                                    <div class="validation-message myinput-xsm"
                                         ng-show="submitted && construirCuotasForm.cantidadMeses.$error.number">
                                        Valor inválido.
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row" ng-if="preguntarGenerarCuotaCorretajeCompaniaCedente">
                    <div class="col-sm-8 col-lg-offset-2">
                        <div style="border: 1px solid lightgray; padding: 8px; ">
                            <label class="control-label myinput-xsm" style="text-align: left; ">
                                <input type="checkbox" ng-model="parametros.generarCuotaCorretajePorPagar">
                                Generar cuota de corretaje por pagar al cedente<br /><br />
                                El registro de la prima que corresponde a <em>nosotros</em>, tiene un monto de corretaje calculado para
                                la compañía cedente. Marque esta opción para que se genere un cuota de corretaje por pagar para la
                                compañía cedente.
                            </label>
                        </div>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>

<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-sm pull-right btn-warning" style="margin-right: 15px; ">Cerrar</button>
    <button type="submit" form="construirCuotasForm" class="btn btn-sm pull-right btn-primary" style="margin-right: 15px; ">Constrir y registrar cuotas</button>
</div>