


<div class="ui-viewBorder">

  <h4>Notas débito/crédito - Filter</h4>

  <div class="row">
        <hr class="blueLine" />

        <a href="#" ng-click="limpiarFiltro()" class="btn btn-default btn-sm pull-left" style="min-width: 100px; margin-left: 30px; ">
            Limpiar filtro
        </a>

        <a href="#" ng-click="aplicarFiltroYAbrirLista()" class="btn btn-primary btn-sm pull-right" style="min-width: 80px; margin-left: 20px; ">
            Aplicar filtro
        </a>

        <a href="#" ng-click="nuevo()" class="btn btn-default btn-sm pull-right" style="min-width: 80px; margin-right: 20px; " ng-if="origen == 'edicion'">
            Nuevo
        </a>
    </div>

</div>