

<div class="row">

    <div class="col-sm-12 col-sm-offset-0">

        <div class="row" style="background-color: #283F51; font-style: italic; color: #B8C0C6; padding-top: 8px; margin-bottom: 10px; margin-left: 3px; margin-right: 3px; ">
            <div class="col-sm-6 col-sm-offset-0" style="text-align: left; ">
                <p>
                    Retirada de cartera - Siniestros
                </p>
            </div>

            <div class="col-sm-6 col-sm-offset-0" style="text-align: right; ">
                <p ng-if="definicionCuentaTecnicaSeleccionada_Info.numero">
                    Cuenta (definición) seleccionada:
                    {{ definicionCuentaTecnicaSeleccionada_Info.numero }} -
                    {{ definicionCuentaTecnicaSeleccionada_Info.moneda }}  -
                    {{ definicionCuentaTecnicaSeleccionada_Info.desde }}
                </p>
        
                <p ng-if="!definicionCuentaTecnicaSeleccionada_Info.numero">
                    Cuenta (definición) seleccionada: ninguna
                </p>
            </div>
        </div>

        <div style="text-align: left; ">

            <nav class="navbar navbar-default navbar_custom_small" role="navigation" style="width: 100%; ">
                <div class="container-fluid navbar-nopaddingleft">
                    <div class="collapse navbar-collapse navbar-nopaddingleft" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="navbar_custom_small_header">Retirada de cartera - Siniestros - Resumen de montos</a></li>

                            <li><a href="#" ng-click="leerTablaConfiguracion()" class="navbar_custom_xsmall_node">Leer tabla de configuración</a></li>
                            <li><a href="#" ng-click="distribuirMontosRetCartSnEnCompanias()" class="navbar_custom_xsmall_node">Distribuir</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div ui-grid="contratoProp_retCartSn_resumen_ui_grid"
                    ui-grid-edit
                    ui-grid-cellnav
                    ui-grid-resize-columns
                    ui-grid-selection
                    ui-grid-pinning
                    class="angularGrid_Wide"
                    style="height: 350px; ">
            </div>

            <hr>

            <nav class="navbar navbar-default navbar_custom_small" role="navigation" style="width: 100%; ">
                <div class="container-fluid navbar-nopaddingleft">
                    <div class="collapse navbar-collapse navbar-nopaddingleft" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="navbar_custom_small_header">Retirada de cartera - Siniestros - Distribución de montos en compañías</a></li>

                            <li><a href="#" ng-click="distribuirRetCartSnEnCompanias_calcular()" class="navbar_custom_xsmall_node">Calcular</a></li>
                            <li><a href="#" ng-click="distribuirRetCartSnEnCompanias_obtenerSaldosFinales()" class="navbar_custom_xsmall_node">Determinar montos finales</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div ui-grid="contratoProp_retCartSn_distribucion_ui_grid"
                    ui-grid-edit
                    ui-grid-cellnav
                    ui-grid-resize-columns
                    ui-grid-selection
                    ui-grid-pinning
                    class="angularGrid_Wide"
                    style="height: 350px; ">
            </div>

            <hr>

            <nav class="navbar navbar-default navbar_custom_small" role="navigation" style="width: 100%; ">
                <div class="container-fluid navbar-nopaddingleft">
                    <div class="collapse navbar-collapse navbar-nopaddingleft" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="navbar_custom_small_header">Retirada de cartera - Siniestros - Montos (finales) de compañías</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div ui-grid="contratoProp_retCartSn_montosFinales_ui_grid"
                    ui-grid-edit
                    ui-grid-cellnav
                    ui-grid-resize-columns
                    ui-grid-selection
                    ui-grid-pinning
                    class="angularGrid_Wide"
                    style="height: 350px; ">
            </div>
        </div>

    </div>
</div>
    
    
        