

body {
    padding: 60px;
}
.option > .image,
.option > .text {
    float: left;
}

.option > .text {
    margin-left: 15px;
}

.avatar {
    width: 48px;
    height: 48px;
}

.text .name {
    font-size: 14px;
    font-weight: bold;
}

.text .description {
    color: gray;
}