
<div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="text-align: center; vertical-align: middle; ">
            <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
            <div ng-show="showProgress">
                <div ng-show="processProgress.current != null" style="font-size: small; font-weight: bold; ">
                    ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
                </div>
                <div ng-show="processProgress.message" style="font-size: x-small; font-weight: bold; ">
                    ({{ processProgress.message }})
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                <span ng-bind-html="alert.msg | unsafe"></span>
            </alert>
        </div>
    </div>

    <div class="row">
        <form role="form"
              name="construirFiltroForm"
              id="construirFiltroForm"
              ng-submit="submitConstruirFiltroForm()"
              novalidate
              style="margin-top: 15px; ">

            <div class="container-fluid">

                <uib-tabset style="text-align: left; ">
                    <uib-tab heading="General">

                        <br>

                        <div class="row row-centered">
                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Pendientes al </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaPendientesAl" />
                                </div>
                            </div>
        
                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Leer montos hasta </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaLeerHasta" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>
                        </div>

                        <div class="row row-centered">
                            <div class="col-sm-10 col-centered">
                                <hr> 
                            </div>
                        </div>

                        <div class="row row-centered">

                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Fecha emisión </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaEmisionDesde" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left"> </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaEmisionHasta" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>

                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Fecha cuota </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaCuotaDesde" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left"> </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaCuotaHasta" />
                                </div>
                            </div>
                        </div>

                        <div class="row row-centered">

                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Fecha vencimiento </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaVencimientoDesde" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left"> </label>
                                    <input type="date"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="filtro.fechaVencimientoHasta" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>

                        </div>

                        <div class="row row-centered">

                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Compañía </label>
                                    <input type="text" class="form-control input-sm myinput-sm" ng-model="filtro.compania_text" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Moneda </label>
                                    <input type="text" class="form-control input-sm myinput-sm" ng-model="filtro.moneda_text" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-centered">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label pull-left">Suscriptor </label>
                                    <input type="text" class="form-control input-sm myinput-sm" ng-model="filtro.suscriptor_text" />
                                </div>
                            </div>

                            <div class="col-sm-2 col-centered">
                            </div>
                            
                            <div class="col-sm-2 col-centered">
                            </div>

                        </div>

                    </uib-tab> 
                    
                    <uib-tab heading="Listas">

                        <br> 

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group form-group-sm" style="margin: 0 20px; ">
                                    <label class="control-label input-label pull-left">Compañías </label>
                                    <select class=" form-control input-sm myinput-sm"
                                        ng-model="filtro.compania"
                                        ng-options="item._id as item.nombre for item in companias | orderBy:'nombre'"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="10"
                                        multiple="multiple"></select>
                                </div>
                            </div>
        
                            <div class="col-sm-4">
                                <div class="form-group form-group-sm" style="margin: 0 20px; ">
                                    <label class="control-label input-label pull-left">Monedas </label>
                                    <select class=" form-control input-sm myinput-sm"
                                        ng-model="filtro.moneda"
                                        ng-options="item._id as item.descripcion for item in monedas | orderBy:'descripcion'"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="10"
                                        multiple="multiple"></select>
                                </div>
                            </div>
        
                            <div class="col-sm-4">
                                <div class="form-group form-group-sm" style="margin: 0 20px; ">
                                    <label class="control-label input-label pull-left">Suscriptores </label>
                                    <select class=" form-control input-sm myinput-sm"
                                        ng-model="filtro.suscriptor"
                                        ng-options="item._id as item.nombre for item in suscriptores | orderBy:'nombre'"
                                        ng-model-options="{ updateOn: 'blur' }"
                                        size="10"
                                        multiple="multiple"></select>
                                </div>
                            </div>
                        </div>

                    </uib-tab>
                </uib-tabset>   
            </div>
        </form>
    </div>

    <div class="row">
        <hr class="blueLine" />
        <a href="#" ng-click="limpiarFiltro()" class="btn btn-default btn-sm pull-left" style="min-width: 100px; margin-left: 30px; ">
            Limpiar filtro
        </a>
        <button type="submit" form="construirFiltroForm" class="btn btn-sm pull-right btn-primary" style="min-width: 80px; margin-right: 15px; ">Aplicar filtro</button>
    </div>
</div>
