

<div class="modal-header">
    <h5 class="modal-title">
        <span>Archivos registrados</span>
    </h5>
</div>

<div class="modal-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="col-sm-4 col-sm-offset-4" style="text-align: center; vertical-align: middle; ">
                    <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
                </div>

                <div class="col-sm-4" style="text-align: right; font-style: italic; ">
                    <span style="color: dodgerblue">{{ companiaSeleccionada.nombre }}</span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12" style="font-size: small; ">
                <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
                    <span ng-bind-html="alert.msg | unsafe"></span>
                </alert>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="font-size: small; ">
                <tabset>
                    <tab heading="Logos">
                        <table style="font-size: x-small; table-layout: fixed; width: 100%; " class="table table-condensed table-striped table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-align: left; width: 25%; ">nombre</th>
                                    <th style="text-align: left; width: 25%; ">tipo</th>
                                    <th style="text-align: left; width: 45%; ">archivo</th>
                                    <th style="text-align: left; width: 5%; "></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="logo in logos">
                                    <td style="text-align: left; width: 25%; ">
                                        <a href="{{ fileURL_toString(logo) }}" target="_blank">{{ logo.original.name }}</a>
                                    </td>

                                    <td style="text-align: left; width: 25%; ">{{ logo.metadata.tipo }}</td>
                                    <td style="width: 45%; ">
                                        <img style="max-height: 100%; max-width: 100%; " ng-src="{{ fileURL_toString(logo) }}"/>
                                    </td>
                                    <td style="text-align: center; width: 5%; ">
                                        <span class="fa fa-close redOnHover" ng-click="removeFile(logo)">
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </tab>
                    <tab heading="Plantillas">
                        <table style="font-size: x-small; " class="table table-condensed table-striped table-bordered table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-align: left; ">nombre</th>
                                    <th style="text-align: left; ">tipo</th>
                                    <th style="text-align: left; ">archivo</th>
                                    <th style="text-align: left; "></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="file in templates">
                                    <td style="text-align: left; ">
                                        <a href="{{ fileURL_toString(file) }}" target="_blank">{{ file.original.name }}</a>
                                    </td>

                                    <td style="text-align: left; ">{{ file.metadata.tipo }}</td>
                                    <td style="text-align: left; ">
                                        <img ng-src="{{ imageURL_toString(file) }}"/>
                                    </td>
                                    <td style="text-align: center; ">
                                        <span class="fa fa-close redOnHover" ng-click="removeFile(file)">
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <!-- <button ng-click="ok()" class="btn btn-sm btn-primary">OK</button> -->
    <button ng-click="cancel()" class="btn btn-sm pull-right btn-warning" style="margin-right: 15px; ">Cerrar</button>
</div>
