
<div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
            <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
            <div ng-show="showProgress">
                <div ng-show="processProgress.current != null" style="font-size: small; font-weight: bold; ">
                    ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
                </div>
                <div ng-show="processProgress.message" style="font-size: x-small; font-weight: bold; ">
                    ({{ processProgress.message }})
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="text-align: left; ">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
                close="closeAlert($index)">
                <span ng-bind-html="alert.msg | unsafe"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="container-fluid">
                <uib-tabset style="text-align: left; ">
                    <uib-tab heading="Copiar cuotas de cobro/pago">

                        <div style="text-align: left; padding-left: 100px; padding-right: 100px; padding-top: 15px; ">
                            <p>
                                Esta función le permite al usuario copiar las cuotas, desde la base de datos principal del 
                                programa, a la <em>base de datos de consultas</em>. 
                            </p>
                            <p>
                                La <em>base de datos de consultas</em> permite al usuario de este programa,
                                <em>scrwebm</em>, hacer consultas a los datos que se han registrado, como: riesgos, 
                                contratos, remesas, etc., desde un programa separado y diferente.
                            </p>
                            <p>
                                En el <em>programa de consultas</em> se implementan nuevas formas de hacer consultas a los datos,
                                de una forma (que intenta ser) más amigable, simple y efectiva.
                            </p>
                            <p>
                                Para que las consultas, desde este <em>programa separado de consultas</em>, puedan ser llevadas a
                                cabo, los diferentes registros que hace el usuario, como: riesgos, contratos, cuotas, etc., 
                                deben ser copiados y actualizados en forma permanente. Este es, justamente, el objetivo
                                de esta función: mantener la <em>base de datos de consultas</em> adecuadamente
                                actualizada, con las cuotas de cobro/pago que el usuario va registrando y actualizando a medida que registra 
                                las diversas transacciones que conforman el manejo de este programa. 
                            </p>
                        </div>

                        <div style="margin-top: 25px; text-align: center;">
                            <button class="btn btn-primary btn-sm" ng-click="actualizar_db_consultas()"
                                style="min-width: 300px; ">
                                Copiar cuotas de cobro/pago
                            </button>
                        </div>

                    </uib-tab>
                    <uib-tab heading="Reiniciar proceso">
                        <div style="text-align: left; padding-left: 100px; padding-right: 100px; padding-top: 15px; ">
                            <p>
                                Esta función permite al usuario <em>reiniciar</em> el proceso de <em>copia de cuotas de cobro/pago</em> 
                                a la <em>base de datos de consultas</em>.
                            </p>
                            <p>
                                El resultado de ejecutar este proceso es que la próxima vez que se efectúe la copia, <b>todas</b>
                                las cuotas registradas serán copiadas nuevamente. 
                            </p>
                            <p>
                                Este proceso puede ser útil cuando el usuario desee asegurarse que todas las cuotas,
                                en la base de datos de consultas, sean <em>refrescadas (actualizadas)</em>; 
                                es decir, que la copia de estas cuotas se efectúe nuevamente
                                para asegurarnos que sus valores sean actualizados (y correctos).
                            </p>
                        </div>

                        <div style="margin-top: 25px; text-align: center; ">
                            <button class="btn btn-primary btn-sm" ng-click="reiniciar_proceso()"
                                style="min-width: 300px; ">
                                Reiniciar proceso de copia de cuotas de pago
                            </button>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>