
<div class="modal-header">
    <h5 class="modal-title">
        <span>Remesas - Obtener asiento contable</span>
    </h5>
</div>

<div class="modal-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="col-sm-6 col-sm-offset-6" style="text-align: right; font-style: italic; ">
                    <span style="color: dodgerblue">{{ companiaSeleccionada.nombre }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="col-sm-4 col-sm-offset-4" style="text-align: center; vertical-align: middle; ">
                    <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12" style="font-size: small; ">
                <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
                    <span ng-bind-html="alert.msg | unsafe"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">

                <nav class="navbar navbar-default navbar_custom_small_fullWidth" role="navigation">
                    <div class="container-fluid navbar-nopaddingleft">
                        <div class="collapse navbar-collapse navbar-nopaddingleft" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#" class="navbar_custom_small_header">Asiento contable</a></li>
                                <li><a href="#" class="navbar_custom_xsmall_node" ng-click="nuevo()">Nuevo <span class="fa fa-file-o"></span></a></li>
                                <li class="divider-vertical-small"></li>
                                <li><a href="#" ng-click="obtenerAsientoContable()" class="navbar_custom_xsmall_node">Obtener <i class="fa fa-gears"></i></a></li>
                                <li class="divider-vertical-small"></li>
                                <li><a href="#" ng-click="reordenarPorMonto()" class="navbar_custom_xsmall_node">Reordenar por monto <i class="fa fa-gears"></i></a></li>
                                <li><a href="#" ng-click="reordenarPorNumero()" class="navbar_custom_xsmall_node">Reordenar por número <i class="fa fa-gears"></i></a></li>
                                <li class="divider-vertical-small"></li>
                                <li><a href="#" ng-click="DownloadToDisk()" class="navbar_custom_xsmall_node">Download <i style="color: #5B98F3; " class="fa fa-cloud-download"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="font-size: small; ">
                <div ui-grid="asientoContableRemesa_ui_grid"
                     ui-grid-edit
                     ui-grid-cellnav
                     ui-grid-resize-columns
                     ui-grid-selection
                     ui-grid-pinning
                class="angularGrid_Wide" style="height: 300px; ">
            </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button ng-click="cancel()" class="btn btn-sm pull-right btn-warning" style="margin-right: 15px; min-width: 80px; ">Cerrar</button>
</div>