


<div class="modal-header">
    <h5 class="modal-title">
        Montos pendientes - Consulta - Obtener reporte ... 
    </h5>
</div>

<div class="modal-body">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="col-sm-6 col-sm-offset-6" style="text-align: right; font-style: italic; ">
                    <span style="color: dodgerblue">{{ companiaSeleccionada.nombre }}</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <div class="col-sm-4 col-sm-offset-4" style="text-align: center; vertical-align: middle; ">
                    <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-sm-offset-0" style="font-size: small; ">
                <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
                    <span ng-bind-html="alert.msg | unsafe"></span>
                </alert>
            </div>
        </div>

        <div class="row" style="font-size: small; ">
            <div class="col-sm-10 col-sm-offset-1">
            
                <div class="row">
               
                    <div class="container-fluid">
                        
                        <div class="row" style="margin-top: 20px; ">
                                <div class="col-sm-10 col-sm-offset-1 ">
                                <div class="form-group form-group-sm">
                                    <label class="control-label input-label">Subtítulo  </label>
                                    <input type="text"
                                            class="form-control input-sm myinput-sm"
                                            ng-model="opcionesReport.subTitulo"  />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1 ">
                                <div class="form-group form-group-sm">
                                    <div class="checkbox">
                                        <label style='font-weight: normal; '>
                                            <input type="checkbox" ng-model="opcionesReport.mostrarColores">
                                            <span style="font-weight: bold; ">Mostrar colores</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1 ">
                                <div class="form-group form-group-sm">
                                    <div class="checkbox">
                                        <label style='font-weight: normal; '>
                                            <input type="checkbox" ng-model="opcionesReport.formatoExcel">
                                            <span style="font-weight: bold; ">Formato Excel</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-1 ">
                                <div class="form-group form-group-sm">
                                    <div class="checkbox">
                                        <label style='font-weight: normal; '>
                                            <input type="checkbox" ng-model="opcionesReport.resumen">
                                            <span style="font-weight: bold; ">Resumen</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-sm-offset-1 ">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1 ">
                                <a ng-href="{{reportLink}}" ng-show="showReportLink" target="_blank">Obtener reporte ...&nbsp;&nbsp;<span class="fa fa-print"></span></a>
                            </div>
                        </div>

                    </div>

                </div>
        
            </div>
        </div>

    </div>
</div>

<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-sm-offset-0">
                <button class="btn btn-sm btn-warning pull-right" ng-click="cancel()" style="margin-right: 15px; min-width: 80px; ">Cerrar</button>
                <button class="btn btn-sm pull-right btn-primary" ng-click="grabarOpcionesReporte()" style="margin-right: 15px; ">Grabar opciones del reporte</button>
            </div>
        </div>
    </div>
</div>