
<div class="ui-viewBorder">

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
                <span ng-bind-html="alert.msg | unsafe"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
            <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
            <div ng-show="showProgress">
                <div ng-show="processProgress.current != null" style="font-size: small; font-weight: bold; ">
                    ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
                </div>
                <div ng-show="processProgress.message" style="font-size: x-small; font-weight: bold; ">
                    ({{ processProgress.message }})
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0">
            <div class="col-sm-8" style="padding-left: 0; ">
                <dir-pagination-controls class="navigation-bar pull-left" boundary-links="true"></dir-pagination-controls>
            </div>

            <div class="col-sm-4" style="padding-right: 0; ">
                <div class="input-group input-group-sm pull-right">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input ng-model="search.cuota.asegurado"
                            class="form-control input-sm myinput-sm"
                            type="text"
                            placeholder="buscar por asegurado..." />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-0">
            <p style="font-size: small; color: red; text-align: left; ">
                (<b>Nota:</b> recuerde que el monto a cobrar/pagar debe ser siempre del signo <em>contrario</em> al original)
            </p>
        </div> 

        <div class="col-sm-4 col-sm-offset-0" style="text-align: right; font-size: small; ">
            <select ng-model="search.pagar"
                    ng-options="item.tipo as item.descripcion for item in opcionesSeleccionarCuotas">
            </select>
        </div>  
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0">
            <table style="font-size: x-small; " class="table table-condensed table-striped table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th style="font-size: small; text-align: left; background-color: #333333 !important" colspan="12">
                            <span style="text-align: left; ">
                                {{ infoRemesa }}
                            </span>
                        </th>  

                        <th style="font-size: small; text-align: left; background-color: #333333 !important" colspan="3">
                            <div style="text-align: right; ">
                                <a href="#" ng-click="cobranza_guardarState()">
                                    Guardar estado&nbsp;&nbsp;<span class="fa fa-save"></span>&nbsp;&nbsp;&nbsp;
                                </a>
                            </div>
                        </th>  
                    </tr>
                    <tr>
                        <th style="text-align: center; " colspan="6">Cuota pendiente</th>
                        <th style="text-align: center; " colspan="2">Origen</th>
                        <th style="text-align: center; " colspan="3">Pagos ant</th>
                        <th style="text-align: center; "></th>
                        <th style="text-align: center; " colspan="3">Cobrar/Pagar</th>
                    </tr>
                    <tr>
                        <th style="text-align: center; ">Mon</th>
                        <th style="text-align: center; ">Asegurado</th>
                        <th style="text-align: center; ">#</th>
                        <th style="text-align: center; ">Fecha</th>
                        <th style="text-align: center; ">F venc</th>
                        <th style="text-align: right; ">Monto</th>

                        <th style="text-align: left; ">Tipo</th>
                        <th style="text-align: left; ">Número</th>

                        <th style="text-align: center; ">Cant</th>
                        <th style="text-align: right; ">Monto</th>
                        <th style="text-align: center; ">Misma<br />mon</th>

                        <th style="text-align: right; ">Monto pend</th>

                        <th style="text-align: center; ">Pagar</th>
                        <th style="text-align: right; ">Monto</th>
                        <th style="text-align: center; ">Completo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="cuotaPendiente in temp_cobranzas | filter:search | itemsPerPage: pageSize" current-page="currentPage">

                        <td style="text-align: center; white-space: nowrap; ">{{ cuotaPendiente.cuota.moneda | monedaSimboloFilter }}</td>
                        <td style="text-align: left; white-space: nowrap; ">{{ cuotaPendiente.cuota.asegurado }}</td>
                        <td style="text-align: center; white-space: nowrap; font-weight: bold; ">
                            {{ cuotaPendiente.cuota.numero.toString() + '/' + cuotaPendiente.cuota.cantidad.toString() }}
                        </td>
                        <td style="text-align: center; white-space: nowrap; font-weight: bold; ">{{ cuotaPendiente.cuota.fecha | date:'dd-MM-yyyy' }}</td>
                        <td style="text-align: center; white-space: nowrap; ">{{ cuotaPendiente.cuota.fechaVencimiento | date:'dd-MM-yyyy' }}</td>
                        <td style="text-align: right; white-space: nowrap; ">{{ cuotaPendiente.cuota.monto | currencyFilter }}</td>

                        <td style="text-align: left; white-space: nowrap; font-weight: bold; ">{{ cuotaPendiente.origen.origen }}</td>
                        <td style="text-align: left; white-space: nowrap; font-weight: bold; ">{{ cuotaPendiente.origen.numero }}</td>

                        <td style="text-align: center; ">{{ cuotaPendiente.pagosAnteriores.cantidad }}</td>
                        <td style="text-align: right; ">{{ cuotaPendiente.pagosAnteriores.monto }}</td>
                        <td style="text-align: center; "><input type="checkbox" ng-disabled="true" ng-model="cuotaPendiente.pagosAnteriores.mismaMoneda" /></td>

                        <td style="text-align: right; ">{{ cuotaPendiente.montoPendiente | currencyFilter }}</td>

                        <td style="text-align: center; ">
                            <input type="checkbox" ng-model="cuotaPendiente.pagar" ng-change="calcularTotalMontoAPagar()" />
                        </td>
                        <td style="text-align: right; ">
                            <input type="number" 
                                   ng-model="cuotaPendiente.monto" 
                                   required 
                                   ng-change="calcularTotalMontoAPagar()" 
                                   ng-model-options="{ updateOn: 'blur' }"/>
                        </td>

                        <td style="text-align: center; "><input type="checkbox" ng-model="cuotaPendiente.completo" /></td>
                    </tr>
                </tbody>
                <tfoot>
                        <tr style="font-weight: bold; background-color: #DBE5F1; color: #020201; ">
                            <td colspan="10" style="text-align: left; white-space: nowrap; ">{{ mensajeResumenRemesa }}</td>
     
                            <td style="text-align: center; "></td>
                            <td style="text-align: right; "></td>
                            <td style="text-align: center; white-space: nowrap; ">{{ cantidadCuotasSeleccionadas }}</td>
                            <td style="text-align: right; white-space: nowrap; ">{{ montoTotalSeleccionado | currencyFilter }}</td>
                            <td style="text-align: center; "></td>
                        </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7 col-sm-offset-1" style="text-align: left; ">
            <cobranza-resumen-cobranza-modal remesa-numero="remesa.numero"
                                             remesa-mi-su="remesa.miSu" 
                                             remesa-moneda-id="remesa.moneda" 
                                             remesa-simbolo-moneda="monedaRemesa.simbolo"
                                             remesa-monto="remesa.instrumentoPago.monto"
                                             remesa-factor-cambio="remesa.factorCambio" 
                                             resumen-cuotas-aplicadas="resumenCuotasAplicadasArray">
            </cobranza-resumen-cobranza-modal>
        </div>
        <div class="col-sm-4 col-sm-offset-0" style="text-align: right; ">
            <button ng-click="regresarStateAnterior()" class="btn btn-default btn-sm">Regresar ...</button>
            <button ng-click="aplicarPagos()" class="btn btn-default btn-sm">Aplicar ...</button>
        </div>
    </div>

</div>