

<div class="ui-viewBorder">

    <nav class="navbar navbar-inverse navbar_custom_small_fullWidth" role="navigation">
        <div class="container-fluid navbar-nopaddingleft">
            <div class="collapse navbar-collapse navbar-nopaddingleft" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar_custom_small_header">Cuentas técnicas</a></li>

                    <li><a href="#" ng-click="gotoContratoProporcional_State('definiciones')" class="navbar_custom_small_node">Definiciones   <i class="fa fa-desktop"></i></a></li>
                    <li><a href="#" ng-click="gotoContratoProporcional_State('cuentasTecnicas')" class="navbar_custom_small_node">Cuentas técnicas   <i class="fa fa-desktop"></i></a></li>

                    <li class="divider-vertical-small"></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar_custom_small_node" data-toggle="dropdown" role="button" aria-expanded="false">Complementario&nbsp;&nbsp;<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="gotoContratoProporcional_State('comAdic')" class="navbar_custom_xsmall_node">Comisión adicional &nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                            <li><a href="#" ng-click="gotoContratoProporcional_State('partBenef')" class="navbar_custom_xsmall_node">Participación de beneficios &nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                            <li><a href="#" ng-click="gotoContratoProporcional_State('retCartPr')" class="navbar_custom_xsmall_node">Retirada cartera primas &nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                            <li><a href="#" ng-click="gotoContratoProporcional_State('entCartPr')" class="navbar_custom_xsmall_node">Entrada cartera primas &nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                            <li><a href="#" ng-click="gotoContratoProporcional_State('retCartSin')" class="navbar_custom_xsmall_node">Retirada cartera siniestros &nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                            <li><a href="#" ng-click="gotoContratoProporcional_State('entCartSin')" class="navbar_custom_xsmall_node">Entrada cartera siniestros &nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="ui-viewBorder">
        <div ui-view></div>
    </div>

</div>
