
<div class="ui-viewBorder">

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0">
            <div class="col-sm-4 col-sm-offset-4" style="text-align: center; vertical-align: middle; ">
                <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0" style="text-align: right; ">
            <span style="color: dodgerblue; font-style: italic; ">
                {{ companiaSeleccionada.nombre }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                <span ng-bind-html="alert.msg | unsafe"></span>
            </alert>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-sm-offset-0">
            <nav class="navbar navbar-default navbar_custom_small_toolBar" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="navbar_custom_small_header">Contratos seleccionados </a></li>
                            <li><a href="#" ng-click="exportarExcel()" class="navbar_custom_small_node">Exportar&nbsp;&nbsp;<span class="fa fa-file-excel-o"></span></a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#" ng-click="leerMasRegistros()" class="navbar_custom_small_node_withBackground">Más ...</a></li>
                            <li><a href="#" ng-click="leerTodosLosRegistros()" class="navbar_custom_small_node_withBackground">Todo</a></li>
                            <li class="divider-vertical-small"></li>
                            <li><a href="#" ng-click="regresar()" class="navbar_custom_small_node_withBackground">Regresar ...</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div ui-grid="list_ui_grid"
                 ui-grid-resize-columns
                 ui-grid-selection
                 ui-grid-pinning
                 class="angularGrid"
                 style="height: 300px; width: 100%; ">
            </div>
        </div>
    </div>

    <br />
    <div class="row" ng-if="origen == 'edicion'">
        <div class="col-sm-12 col-sm-offset-0" style="text-align: right; ">
            <button class="btn btn-default btn-sm" style="min-width: 80px; " ng-click="nuevo()">
                Nuevo
            </button>
        </div>
    </div>
</div>
