
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
        <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
        <div ng-show="showProgress">
            <div ng-show="processProgress.current != null" style="font-size: small; font-weight: bold; ">
                ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
            </div>
            <div ng-show="processProgress.message" style="font-size: x-small; font-weight: bold; ">
                ({{ processProgress.message }})
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-sm-offset-0" style="text-align: left; ">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
            <span ng-bind-html="alert.msg | unsafe"></span>
        </alert>
    </div>
</div>

<div class="row" style="font-size: small; ">
    <div class="col-sm-12 col-sm-offset-0">
        <uib-tabset active="currentTab"> 
                
            <uib-tab heading="Filtro" index="0">

                <div class="row">
                    <form role="form" novalidate>
                        <div class="container-fluid">
                            
                            <div class="row" style="margin-top: 20px; ">
                                <!-- fecha -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-5" style="text-align: left; ">
                                            <label class="control-label input-label">Fecha: </label>
                                            <input type="date"
                                                    class="form-control input-sm myinput-sm"
                                                    ng-model="filtro.fecha1" />
                                        </div>
                                        <div class="col-sm-5">
                                            <label class="control-label input-label">&nbsp;&nbsp;&nbsp; </label>
                                            <input type="date"
                                                    class="form-control input-sm myinput-sm"
                                                    ng-model="filtro.fecha2" />
                                        </div>
                                    </div>
                                </div>
                                <!-- tipo -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-10" style="text-align: left; ">
                                                <label class="control-label input-label">Tipo: </label>
                                                <select class="form-control input-sm myinput-sm"
                                                        ng-model="filtro.tipo"
                                                        ng-options="item.tipo as item.descripcion for item in tipo_list"
                                                        ng-model-options="{ updateOn: 'blur' }">
                                                </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px; ">
                                <!-- moneda -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-10" style="text-align: left; ">
                                            <label class="control-label input-label">Moneda: </label>
                                            <select class=" form-control input-sm myinput-sm"
                                                    ng-model="filtro.moneda"
                                                    ng-options="item._id as item.simbolo for item in monedas | orderBy:'simbolo'"
                                                    ng-model-options="{ updateOn: 'blur' }"
                                                    size="8"
                                                    multiple="multiple">
                                            </select>
                                        </div>  
                                    </div>
                                </div>
                                <!-- compañía -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-10" style="text-align: left; ">
                                            <label class="control-label input-label">Compañía: </label>
                                            <select class=" form-control input-sm myinput-sm"
                                                    ng-model="filtro.compania"
                                                    ng-options="item._id as item.nombre for item in companias | orderBy:'nombre'"
                                                    ng-model-options="{ updateOn: 'blur' }"
                                                    size="8"
                                                    multiple="multiple">
                                            </select>
                                        </div>  
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px; ">
                                <!-- tipo de negocio  -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-10" style="text-align: left; ">
                                            <label class="control-label input-label">Tipos de negocio: </label>
                                            <select class=" form-control input-sm myinput-sm"
                                                    ng-model="filtro.tipoNegocio"
                                                    ng-options="item.tipo as item.descripcion for item in tiposNegocio"
                                                    ng-model-options="{ updateOn: 'blur' }"
                                                    size="8"
                                                    multiple="multiple">
                                            </select>
                                        </div>  
                                    </div>
                                </div>

                                <!-- cedente -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-10" style="text-align: left; ">
                                            <label class="control-label input-label">Cedente: </label>
                                            <select class=" form-control input-sm myinput-sm"
                                                    ng-model="filtro.cedente"
                                                    ng-options="item._id as item.nombre for item in cedentes | orderBy:'nombre'"
                                                    ng-model-options="{ updateOn: 'blur' }"
                                                    size="8"
                                                    multiple="multiple">
                                            </select>
                                        </div>  
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px; ">
                                <!-- referencia -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-10" style="text-align: left; ">
                                            <label class="control-label input-label">Referencia</label>
                                            <input type="text" 
                                                   class="form-control input-sm myinput-sm" 
                                                   ng-model="filtro.referencia" />
                                        </div> 
                                    </div>
                                </div>

                                <!-- cobroPagoFlag -->
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <div class="col-sm-10" style="text-align: left; ">
                                                <label class="control-label input-label">Cobro o pago: </label>
                                                <select class="form-control input-sm myinput-sm"
                                                        ng-model="filtro.cobroPagoFlag"
                                                        ng-options="item.value as item.descripcion for item in cobroPago_list"
                                                        ng-model-options="{ updateOn: 'blur' }">
                                                </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="row">
                    <hr class="blueLine" />

                    <a href="#" ng-click="limpiarFiltro()" class="btn btn-default btn-sm pull-left" style="min-width: 100px; margin-left: 30px; ">
                        Limpiar filtro
                    </a>

                    <a href="#" ng-click="aplicarFiltro()" class="btn btn-primary btn-sm pull-right" style="min-width: 80px; margin-right: 30px; ">
                        Aplicar filtro
                    </a>
                </div>
            </uib-tab>
                
            <uib-tab heading="Lista" index="1">
                <div class="row">
                    <div class="col-sm-12 col-sm-offset-0">

                        <nav class="navbar navbar-default navbar_custom_small_toolBar" role="navigation">
                            <div class="container-fluid">
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#" class="navbar_custom_small_header">Cierre - Registro</a></li>
                                        <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="nuevo()">Nuevo <span class="fa fa-file-o"></span></a></li>
                                        <li><a href="#" class="navbar_custom_small_node_withBackground" ng-click="grabar()">Grabar <span class="fa fa-save"></span></a></li>

                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle navbar_custom_small_node" data-toggle="dropdown" role="button"
                                                aria-expanded="false">Otros ...&nbsp;&nbsp;<span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#" ng-click="exportarItems()" class="navbar_custom_xsmall_node">
                                                    Exportar&nbsp;&nbsp;
                                                </a></li>
                                                <li><a href="#" ng-click="importarItems1()" class="navbar_custom_xsmall_node">
                                                    Importar&nbsp;&nbsp;
                                                </a></li>
                                            </ul>
                                        </li>
                                    </ul>

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#" ng-click="leerMasRegistros()" class="navbar_custom_small_node_withBackground">Más ...</a></li>
                                        <li><a href="#" ng-click="leerTodosLosRegistros()" class="navbar_custom_small_node_withBackground">Todo</a></li>
                                    </ul>

                                </div>
                            </div>
                        </nav>

                        <div>
                            <div ui-grid="registro_ui_grid" ui-grid-edit
                                                            ui-grid-resize-columns
                                                            ui-grid-selection
                                                            ui-grid-cellnav
                                                            ui-grid-pinning
                                                            class="angularGrid"
                                                            style="height: 350px; width: 100%; ">
                        </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab heading="Notas" index="2">
                <div class="row" style="text-align: center; ">
                    <div class="col-sm-10 col-sm-offset-1" style="text-align: left; ">

                        <br />
            
                        <p>
                            Los movimientos que Ud. ve en este <em>registro</em> son construidos por el proceso de cierre. 
                        </p>
            
                        <p>
                            El proceso de cierre lee los registros efectuados por el usuario para el período indicado y 
                            los resume en esta tabla. Cada prima, siniestro, cobro, pago, etc., que el usuario registra 
                            en el programa para un período determinado, son resumidos en esta tabla, registro, cuando 
                            el usuario corre el proceso de cierre. 
                        </p>
            
                        <p>
                            Nótese que el proceso de cierre no agrega movimientos de tipo 'saldo inicial' a esta tabla. Los 
                            registros de tipo 'saldo inicial' son calculados y mostrados por el proceso de consulta. Este 
                            registro es solo un resumen de las operaciones registradas en el programa en un período. 
                        </p>
            
                        <p>
                            El proceso de cierre puede ser ejecutado, para un mismo período, las veces que sea necesario. 
                            Cuando el proceso de cierre es ejecutado por el usuario sucesivas veces para un mismo período, 
                            el contenido en esta tabla para el período es, simplemente, eliminado y vuelto a registrar. 
                        </p>

                        <br />
            
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>
    </div>

    <!-- con este input (type file) permitimos al usuario importar los items desde un archivo csv, que se ha exportado en forma previa 
    con la opción Exportar  -->
    <input type="file" 
           id="fileInput" 
           accept=".txt" 
           multiple="false"
           onchange="angular.element(this).scope().importarItems2(this.files)" 
           ng-show="false" />
</div>
    