

<div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
            <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
            <div ng-show="showProgress">
                <div ng-show="processProgress.current != null" style="font-size: small; font-weight: bold; ">
                    ({{ processProgress.current }}/{{ processProgress.max }} - {{ processProgress.progress }})
                </div>
                <div ng-show="processProgress.message" style="font-size: x-small; font-weight: bold; ">
                    ({{ processProgress.message }})
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="text-align: left; ">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                <span ng-bind-html="alert.msg | unsafe"></span>
            </alert>
        </div>
    </div>
    

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="text-align: left; ">
            <nav class="navbar navbar-default navbar_custom_small_toolBar" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="navbar_custom_small_header">Cierre - Períodos de cierre</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div ui-grid="cierre_ui_grid"
                ui-grid-resize-columns
                ui-grid-selection
                class="angularGrid"
                style="height: auto; width: 100%; ">
            </div>
        </div>
    </div>

           
    <div class="row">
        <br />
        <div class="col-sm-3 col-sm-offset-1">
        </div>
        <div class="col-sm-3 col-sm-offset-4">
            <button ng-click=cerrarPeriodo() class="btn btn-primary btn-sm pull-right" style="min-width: 120px; margin-right: 15px; ">
                Cerrar período seleccionado
            </button>
        </div>
    </div>
</div>