
/* para cambiar estilos en bootstrap navbar  */

.toolBar.navbar {
  min-height: 30px;
  max-height: 30px;
  margin-bottom: 10px;
}

.toolBar .navbar-brand {
    height: 30px;
    padding: 5px 5px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #77778C;
}

.toolBar .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.toolBar .navbar-text {
    margin-top: 5px;
    margin-bottom: 5px;
}