

<div class="ui-viewBorder">

    <div style="text-align: right; font-style: italic; ">
        <span style="color: dodgerblue">{{ companiaSeleccionada.nombre }}</span>
    </div>

    <nav class="navbar navbar-inverse navbar_custom_small_fullWidth" role="navigation">
        <div class="container-fluid">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li ng-if="siniestro.docState && (origen == 'edicion')"><a href="#" class="navbar_custom_small_header"><em>Siniestros</em> (<span class="fa fa-asterisk"></span>)</a></li>
                    <li ng-if="!siniestro.docState || (origen == 'consulta')"><a href="#" class="navbar_custom_small_header"><em>Siniestros</em></a></li>

                    <li ng-if="origen == 'edicion'"><a href="#" ng-click="grabar()" class="navbar_custom_small_node">Grabar&nbsp;&nbsp;<span class="fa fa-floppy-o"></span></a></li>
                    <li><a href="#" ng-click="refresh0()" class="navbar_custom_small_node">Refresh&nbsp;&nbsp;<span class="fa fa-refresh"></span></a></li>
                    <li class="divider-vertical-small"></li>
                    <li><a href="#" ng-click="imprimir()" class="navbar_custom_small_node">Imprimir&nbsp;&nbsp;<span class="fa fa-print"></span></a></li>

                    <li class="divider-vertical-small"></li>

                    <li ng-if="origen == 'edicion'"><a href="#" ng-click="nuevo0()" class="navbar_custom_small_node">Nuevo&nbsp;&nbsp;<span class="fa fa-file-o"></span></a></li>
                    <li ng-if="origen == 'edicion'"><a href="#" ng-click="eliminar()" class="navbar_custom_small_node">Eliminar&nbsp;&nbsp;<span class="fa fa-times"></span></a></li>

                    <li ng-if="origen == 'edicion'" class="divider-vertical-small"></li>

                    <!-- nótese que con ng-class asignamos estilos al link (<a>) para que luzca como desabilitado; sin embargo, el link
                    como tal probablemente funcione; no nos importa pues, simplemente, iría al mismo state al cual ya está ...  -->

                    <li><a href="#" class="navbar_custom_small_node">Secciones:</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar_custom_small_node" data-toggle="dropdown" role="button" aria-expanded="false">{{ currentStateName}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="goToState('generales')" class="navbar_custom_small_node" ng-class="currentStateName === 'Generales' ? 'disabled' : ''">Generales</a></li>
                            <li><a href="#" ng-click="goToState('notas')" class="navbar_custom_small_node" ng-class="currentStateName === 'Notas' ? 'disabled' : ''">Notas</a></li>
                            <li><a href="#" ng-click="goToState('entidadDeOrigen')" class="navbar_custom_small_node" ng-class="currentStateName === 'Entidad de origen' ? 'disabled' : ''">Entidad de origen</a></li>
                            <li><a href="#" ng-click="goToState('companias')" class="navbar_custom_small_node" ng-class="currentStateName === 'Compañías' ? 'disabled' : ''">Compañías</a></li>
                            <li><a href="#" ng-click="goToState('reservas')" class="navbar_custom_small_node" ng-class="currentStateName === 'Reservas' ? 'disabled' : ''">Reservas</a></li>
                            <li><a href="#" ng-click="goToState('liquidaciones')" class="navbar_custom_small_node" ng-class="currentStateName === 'Liquidaciones' ? 'disabled' : ''">Liquidaciones</a></li>
                            <li><a href="#" ng-click="goToState('cuotas')" class="navbar_custom_small_node" ng-class="currentStateName === 'Cuotas' ? 'disabled' : ''">Cuotas</a></li>
                        </ul>
                    </li>

                    <li class="divider-vertical-small"></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar_custom_small_node" data-toggle="dropdown" role="button" aria-expanded="false">Otros <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="registroDocumentos()" class="navbar_custom_small_node">Documentos&nbsp;&nbsp;<span class="fa fa-files-o"></span></a></li>
                            <li ng-if="origen == 'edicion'"><a href="#" ng-click="registrarPersonasCompanias()" class="navbar_custom_xsmall_node">Personas <i style="color: blue; " class="fa fa-user"></i></a></li>
                        </ul>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="regresarALista()" class="navbar_custom_small_node">Regresar...</a></li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center; vertical-align: middle; ">
            <i style="color: #428BCA" class="fa fa-circle-o-notch fa-spin fa-2x" ng-show="showProgress"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="text-align: left; ">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">
                <span ng-bind-html="alert.msg | unsafe"></span>
            </div>
        </div>
    </div>

    <div ui-view></div>
</div>
